In [17]:
import pandas as pd
from datetime import timedelta

In [18]:
df = pd.read_csv('covid-data.csv')

In [19]:
df['date'] = pd.to_datetime(df['date'])

In [20]:
pd.set_option('display.max_rows', 187)
pd.set_option('display.max_columns', 50)

In [21]:
#A1

In [22]:
date_greek_lockdown_started = df[(df['date'] == '2020-03-23') & (df['location'] != 'World')]['total_cases'].max()
location = df.loc[df['total_cases'] == date_greek_lockdown_started] #A1

#Variables to save name and number of cases
name = location.iloc[0,2]
total_cases = location.iloc[0,4]

print(f"{name} had the most total cases ({total_cases.astype(int)}) when Greece's lockdown started")

China had the most total cases (81484) when Greece's lockdown started

In [23]:
#A2

In [24]:
second_to_last_week_of_march = df[(df['date'] >= '2020-03-23') & (df['date'] <= '2020-03-29') & (df['location'] != 'World')]['new_cases'].max()
location = df.loc[df['new_cases'] == second_to_last_week_of_march] #A2 
#Needs output with name and number of new cases

name = location.iloc[0,2]
new_cases = location.iloc[0,5]

print(f"{name} had the most new cases ({new_cases.astype(int)}) during 23-29/03/2020")

United States had the most new cases (19979) during 23-29/03/2020

In [25]:
#A3

In [26]:
greece = (df['location'] == 'Greece')

dates_before_first_lockdown = df[greece & ((df['date'] >= '2020-03-16') & (df['date'] <= '2020-03-22'))] #A3
sum_of_new_cases_before_first_lockdown = dates_before_first_lockdown['new_cases'].sum()

dates_before_second_lockdown = df[greece & ((df['date'] >= '2020-10-31') & (df['date'] <= '2020-11-06'))] #A3 
sum_of_new_cases_before_second_lockdown = dates_before_second_lockdown['new_cases'].sum()

print(f'Before the first lockdown (16-22/3/2020) Greece had: {sum_of_new_cases_before_first_lockdown.astype(int)} cases')
print(f'Before the second lockdown (31/10/2020 - 6/11/2020) Greece had: {sum_of_new_cases_before_second_lockdown.astype(int)} cases')

Before the first lockdown (16-22/3/2020) Greece had: 302 cases
Before the second lockdown (31/10/2020 - 6/11/2020) Greece had: 14297 cases

In [27]:
#A4

In [28]:
max_total_deaths_per_million = df["total_deaths_per_million"].max()
location = df.loc[df['total_deaths_per_million'] == max_total_deaths_per_million]

name = location.iloc[0,2]
total_deaths_per_million = location.iloc[0,13]

print(f'{name} had the most total deaths per million: {total_deaths_per_million.round(decimals=2)}')

Belgium had the most total deaths per million: 1350.09

In [29]:
#A5

In [30]:
max_total_deaths = df[(df['location'] != 'World')]['total_deaths'].max()
location_of_max_total_deaths = df.loc[df['total_deaths'] == max_total_deaths]#USA

max_total_cases = df[(df['location'] != 'World')]['total_cases'].max()
location_of_max_total_cases = df.loc[df['total_cases'] == max_total_cases] #USA

name = location_of_max_total_deaths.iloc[0,2]

percentage_of_deaths_per_case = (max_total_deaths/max_total_cases)*100

print(f'{name} have the highest percentage of deaths per case ({percentage_of_deaths_per_case.round(decimals = 2)}%')

United States have the highest percentage of deaths per case with 2.07%

In [31]:
#B1

In [32]:
pd.set_option('display.max_rows', 330)
#greece_date = df[greece]['date'] + timedelta(days=0)

#(greece['date'] )

#MonthsDict = 

df

a = df.groupby(['location'])
a.get_group('Greece')['new_cases'].value_counts()

0.0       65
10.0      10
15.0       7
3.0        6
31.0       5
6.0        5
19.0       5
25.0       4
21.0       4
13.0       4
9.0        4
20.0       4
2.0        4
27.0       4
23.0       3
57.0       3
11.0       3
22.0       3
4.0        3
28.0       3
33.0       3
204.0      3
52.0       3
29.0       3
71.0       3
1.0        3
251.0      2
139.0      2
56.0       2
35.0       2
16.0       2
7.0        2
147.0      2
34.0       2
202.0      2
40.0       2
75.0       2
55.0       2
60.0       2
24.0       2
95.0       2
118.0      2
250.0      2
14.0       2
8.0        2
3038.0     1
1695.0     1
882.0      1
482.0      1
341.0      1
17.0       1
438.0      1
300.0      1
48.0       1
1889.0     1
3209.0     1
138.0      1
193.0      1
2835.0     1
1211.0     1
212.0      1
2166.0     1
50.0       1
452.0      1
110.0      1
3227.0     1
714.0      1
283.0      1
841.0      1
216.0      1
3316.0     1
399.0      1
248.0      1
352.0      1
286.0      1
372.0      1
302.0      1
183.0      1
76.0       1
65.0       1
453.0      1
99.0       1
263.0      1
243.0      1
180.0      1
156.0      1
2751.0     1
46.0       1
333.0      1
310.0      1
1498.0     1
103.0      1
36.0       1
2447.0     1
2422.0     1
2198.0     1
18.0       1
226.0      1
435.0      1
293.0      1
391.0      1
1489.0     1
42.0       1
102.0      1
1547.0     1
460.0      1
416.0      1
432.0      1
359.0      1
126.0      1
43.0       1
74.0       1
306.0      1
2055.0     1
150.0      1
282.0      1
865.0      1
235.0      1
1686.0     1
280.0      1
241.0      1
207.0      1
790.0      1
186.0      1
2383.0     1
2551.0     1
935.0      1
38.0       1
233.0      1
78.0       1
240.0      1
1151.0     1
157.0      1
229.0      1
294.0      1
358.0      1
94.0       1
61.0       1
164.0      1
77.0       1
434.0      1
338.0      1
503.0      1
177.0      1
5.0        1
267.0      1
169.0      1
2309.0     1
2646.0     1
151.0      1
408.0      1
70.0       1
667.0      1
2915.0     1
1387.0     1
62.0       1
269.0      1
155.0      1
411.0      1
311.0      1
315.0      1
217.0      1
1678.0     1
1256.0     1
406.0      1
26.0       1
2555.0     1
168.0      1
Name: new_cases, dtype: int64