In [35]:
import pandas as pd
from datetime import timedelta

In [36]:
df = pd.read_csv('covid-data.csv')

In [37]:
df['date'] = pd.to_datetime(df['date'])

In [38]:
pd.set_option('display.max_rows', 187)
pd.set_option('display.max_columns', 50)

In [39]:
#A1

In [40]:
date_greek_lockdown_started = df[(df['date'] == '2020-03-23') & (df['location'] != 'World')]['total_cases'].max()
location = df.loc[df['total_cases'] == date_greek_lockdown_started] #A1

#Variables to save name and number of cases
name = location.iloc[0,2]
total_cases = location.iloc[0,4]

print(f"{name} had the most total cases ({total_cases.astype(int)}) when Greece's lockdown started")

China had the most total cases (81484) when Greece's lockdown started

In [41]:
#A2

In [42]:
second_to_last_week_of_march = df[(df['date'] >= '2020-03-23') & (df['date'] <= '2020-03-29') & (df['location'] != 'World')]['new_cases'].max()
location = df.loc[df['new_cases'] == second_to_last_week_of_march] #A2 
#Needs output with name and number of new cases

name = location.iloc[0,2]
new_cases = location.iloc[0,5]

print(f"{name} had the most new cases ({new_cases.astype(int)}) during 23-29/03/2020")

United States had the most new cases (19979) during 23-29/03/2020

In [43]:
#A3

In [44]:
greece = (df['location'] == 'Greece')

dates_before_first_lockdown = df[greece & ((df['date'] >= '2020-03-16') & (df['date'] <= '2020-03-22'))] #A3
sum_of_new_cases_before_first_lockdown = dates_before_first_lockdown['new_cases'].sum()

dates_before_second_lockdown = df[greece & ((df['date'] >= '2020-10-31') & (df['date'] <= '2020-11-06'))] #A3 
sum_of_new_cases_before_second_lockdown = dates_before_second_lockdown['new_cases'].sum()

print(f'Before the first lockdown (16-22/3/2020) Greece had: {sum_of_new_cases_before_first_lockdown.astype(int)} cases')
print(f'Before the second lockdown (31/10/2020 - 6/11/2020) Greece had: {sum_of_new_cases_before_second_lockdown.astype(int)} cases')

Before the first lockdown (16-22/3/2020) Greece had: 302 cases
Before the second lockdown (31/10/2020 - 6/11/2020) Greece had: 14297 cases

In [45]:
#A4

In [46]:
max_total_deaths_per_million = df["total_deaths_per_million"].max()
location = df.loc[df['total_deaths_per_million'] == max_total_deaths_per_million]

name = location.iloc[0,2]
total_deaths_per_million = location.iloc[0,13]

print(f'{name} had the most total deaths per million: {total_deaths_per_million.round(decimals=2)}')

Belgium had the most total deaths per million: 1350.09

In [47]:
#A5

In [48]:
max_total_deaths = df[(df['location'] != 'World')]['total_deaths'].max()
location_of_max_total_deaths = df.loc[df['total_deaths'] == max_total_deaths]#USA

max_total_cases = df[(df['location'] != 'World')]['total_cases'].max()
location_of_max_total_cases = df.loc[df['total_cases'] == max_total_cases] #USA

name = location_of_max_total_deaths.iloc[0,2]

percentage_of_deaths_per_case = (max_total_deaths/max_total_cases)*100

print(f'{name} have the highest percentage of deaths per case ({percentage_of_deaths_per_case.round(decimals = 2)}%)')

United States have the highest percentage of deaths per case (2.07%)

In [49]:
#B1

In [175]:
df[greece].groupby(df[greece].index.month)[['new_deaths', 'new_cases']].agg(['median','std'])

     new_deaths            new_cases
         median        std    median         std
date
1           0.0   0.000000       0.0    0.000000
2           0.0   0.000000       0.0    0.441114
3           1.0   1.844310      35.0   31.867220
4           3.0   2.426861      32.0   39.825250
5           1.0   1.035914      10.0    8.721374
6           0.0   0.899553      14.0   12.066149
7           0.0   0.715422      29.0   14.382113
8           2.0   1.619770     193.0   62.537954
9           4.0   2.187740     255.5   82.854734
10          7.0   3.501152     438.0  378.469723
11         41.0  28.640070    2402.5  621.043016
12          0.0        NaN       0.0         NaN

In [174]:
#B2

In [176]:
portugal = df['location'] == "Portugal"

df[portugal].groupby(df[portugal].index.month)[['new_deaths', 'new_cases']].agg(['median','std'])

     new_deaths            new_cases
         median        std    median          std
date
2           NaN        NaN       NaN          NaN
3           0.0   7.512223      86.0   271.795549
4          27.5   8.330045     620.5   280.446040
5          13.0   6.576432     228.0   137.889858
6           5.5   3.777733     327.0    75.003670
7           5.0   3.073998     291.0    98.829602
8           3.0   1.834555     213.0    88.332242
9           4.0   2.618238     595.0   191.780133
10         15.0   9.019215    1876.0  1151.114485
11         62.0  14.808377    5667.0  1555.355523