In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('covid-data.csv')

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
pd.set_option('display.max_rows', 187)
pd.set_option('display.max_columns', 50)

In [ ]:
greece = (df['location'] == 'Greece')

dates_before_first_lockdown = df[greece & ((df['date'] >= '2020-03-16') & (df['date'] <= '2020-03-22'))] #A3
sum_of_new_cases_before_first_lockdown = dates_before_first_lockdown['new_cases'].sum()

dates_before_second_lockdown = df[greece & ((df['date'] >= '2020-10-31') & (df['date'] <= '2020-11-06'))] #A3 
sum_of_new_cases_before_second_lockdown = dates_before_second_lockdown['new_cases'].sum()

print(f'Before the first lockdown (16-22/3/2020) Greece had: {sum_of_new_cases_before_first_lockdown.astype(int)} cases')
print(f'Before the second lockdown (31/10/2020 - 6/11/2020) Greece had: {sum_of_new_cases_before_second_lockdown.astype(int)} cases')

In [27]:
date_march = df[(df['date'] == '2020-03-23') & (df['location'] != 'World')]['total_cases'].max()
df.loc[df['total_cases'] == date_march] #A1
#Needs output with name and number of total cases

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
11377,CHN,Asia,China,2020-03-23,81484,138,66,3274,9,8,57,1e-01,5e-02,2,6e-03,6e-03,8e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,1e+09,148,39,11,6,15309,7e-01,262,10,2,48,NaN,4,77,8e-01

In [28]:
d = df[(df['date'] >= '2020-03-23') & (df['date'] <= '2020-03-29') & (df['location'] != 'World')]['new_cases'].max()
df.loc[df['new_cases'] == d] #A2 
#Needs output with name and number of new cases

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
55418,USA,North America,United States,2020-03-29,124665,19979,13988,2191,484,264,377,60,42,7,1,8e-01,2,2456,7,14055,42,82,2e-01,14306,43,1e+06,109448,4,3e-01,111342,3e-01,8,1e-01,tests performed,73,3e+08,36,38,15,10,54225,1,151,11,19,25,NaN,3,79,9e-01

In [ ]:
a = df["total_deaths_per_million"].max()
df.loc[df['total_deaths_per_million'] == a]
#Needs output with name and number of total_deaths_per_million

In [ ]:
total_deaths = df[(df['location'] != 'World')]['total_deaths'].max()
#df.loc[df['total_deaths'] == total_deaths]

total_cases = df[(df['location'] != 'World')]['total_cases'].max()
#df.loc[df['total_cases'] == total_cases] Epeidh einai t idio me to panw den xreiazetai

div = (total_deaths/total_cases)*100
div.round(decimals=2)
#Needs name and value% for output